{% extends "partidos/base.html" %}

{% block content %}
<h1>Inicio</h1>
<div>
    <ul>
        <li><a href="{% url 'ultima_temporada' %}">Última Temporada</a></li>
        <li><a href="{% url 'equipos' %}">Lista de Equipos</a></li>
        <li><a href="{% url 'estadios_mayores' %}">Estadios con Mayor Aforo</a></li>
        <li><a href="{% url 'cargar' %}">Cargar Datos en la Base de Datos</a></li>
    </ul>
</div>
<div>
    <p>Actualmente tenemos almacenadas {{ temporadas|length }}</p>
</div>

{% endblock %}